Plugins/NefKandilliPlugin/Service References/NEFWebService/WebForm.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://fenix.nef.com.tr:9093/WebForm.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NEF.WebServices.WebForm" />
  <xs:element name="CreateWebForm">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NEF.WebServices.WebForm" minOccurs="0" name="form" nillable="true" type="q1:Webform" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateWebFormResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NEF.WebServices.WebForm" minOccurs="0" name="CreateWebFormResult" nillable="true" type="q2:MsCrmResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>